parameters:
	ignoreErrors:
		-
			rawMessage: Possibly invalid array key type mixed.
			identifier: offsetAccess.invalidOffset
			count: 3
			path: src/IndefiniteLengthMapObject.php

		-
			rawMessage: 'Method CBOR\ListObject::normalize() should return array<int, mixed> but returns array<mixed>.'
			identifier: return.type
			count: 1
			path: src/ListObject.php

		-
			rawMessage: Possibly invalid array key type mixed.
			identifier: offsetAccess.invalidOffset
			count: 3
			path: src/MapObject.php

		-
			rawMessage: 'Method CBOR\NegativeIntegerObject::getValue() should return int|numeric-string but returns int|string.'
			identifier: return.type
			count: 1
			path: src/NegativeIntegerObject.php

		-
			rawMessage: Cannot access offset 1 on array|false.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/OtherObject/DoublePrecisionFloatObject.php

		-
			rawMessage: 'Parameter #1 $value of static method CBOR\Utils::binToBigInteger() expects string, string|null given.'
			identifier: argument.type
			count: 3
			path: src/OtherObject/DoublePrecisionFloatObject.php

		-
			rawMessage: 'Parameter #2 $data of class CBOR\OtherObject\DoublePrecisionFloatObject constructor expects string|null, string|false given.'
			identifier: argument.type
			count: 1
			path: src/OtherObject/DoublePrecisionFloatObject.php

		-
			rawMessage: 'Parameter #1 $value of static method CBOR\Utils::binToBigInteger() expects string, string|null given.'
			identifier: argument.type
			count: 3
			path: src/OtherObject/HalfPrecisionFloatObject.php

		-
			rawMessage: Cannot access offset 1 on array|false.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/OtherObject/SinglePrecisionFloatObject.php

		-
			rawMessage: 'Parameter #1 $value of static method CBOR\Utils::binToBigInteger() expects string, string|null given.'
			identifier: argument.type
			count: 3
			path: src/OtherObject/SinglePrecisionFloatObject.php

		-
			rawMessage: 'Parameter #2 $data of class CBOR\OtherObject\SinglePrecisionFloatObject constructor expects string|null, string|false given.'
			identifier: argument.type
			count: 1
			path: src/OtherObject/SinglePrecisionFloatObject.php

		-
			rawMessage: 'Parameter #1 $num1 of function bcmul expects numeric-string, string given.'
			identifier: argument.type
			count: 1
			path: src/Tag/BigFloatTag.php

		-
			rawMessage: 'Parameter #1 $num1 of function bcmul expects numeric-string, string given.'
			identifier: argument.type
			count: 1
			path: src/Tag/DecimalFractionTag.php

		-
			rawMessage: 'Parameter #1 $value of static method CBOR\Utils::binToInt() expects string, string|null given.'
			identifier: argument.type
			count: 1
			path: src/Tag/TagManager.php

		-
			rawMessage: 'Method CBOR\UnsignedIntegerObject::getValue() should return int|numeric-string but returns int|string.'
			identifier: return.type
			count: 1
			path: src/UnsignedIntegerObject.php
