parameters:
    level: max
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Parameter .* of static method CBOR\\Utils\:\:binToBigInteger\(\) expects string, string\|null given\.#'
            count: 3
            path: src/OtherObject/SinglePrecisionFloatObject.php
        -
            message: '#Parameter .* of static method CBOR\\Utils\:\:binToBigInteger\(\) expects string, string\|null given\.#'
            count: 3
            path: src/OtherObject/DoublePrecisionFloatObject.php
        -
            message: '#Parameter .* of static method CBOR\\Utils\:\:binToBigInteger\(\) expects string, string\|null given\.#'
            count: 3
            path: src/OtherObject/HalfPrecisionFloatObject.php
        -
            message: '#Parameter .* of static method CBOR\\Utils\:\:binToInt\(\) expects string, string\|null given\.#'
            count: 1
            path: src/Tag/TagManager.php
