parameters:
	ignoreErrors:
		-
			message: "#^Method CBOR\\\\NegativeIntegerObject\\:\\:getValue\\(\\) should return int\\|numeric\\-string but returns int\\|string\\.$#"
			count: 1
			path: src/NegativeIntegerObject.php

		-
			message: "#^Parameter \\#1 \\$value of static method CBOR\\\\Utils\\:\\:binToBigInteger\\(\\) expects string, string\\|null given\\.$#"
			count: 3
			path: src/OtherObject/DoublePrecisionFloatObject.php

		-
			message: "#^Parameter \\#1 \\$value of static method CBOR\\\\Utils\\:\\:binToBigInteger\\(\\) expects string, string\\|null given\\.$#"
			count: 3
			path: src/OtherObject/HalfPrecisionFloatObject.php

		-
			message: "#^Parameter \\#1 \\$value of static method CBOR\\\\Utils\\:\\:binToBigInteger\\(\\) expects string, string\\|null given\\.$#"
			count: 3
			path: src/OtherObject/SinglePrecisionFloatObject.php

		-
			message: "#^Parameter \\#1 \\$num1 of function bcmul expects numeric\\-string, string given\\.$#"
			count: 1
			path: src/Tag/BigFloatTag.php

		-
			message: "#^Parameter \\#1 \\$num1 of function bcmul expects numeric\\-string, string given\\.$#"
			count: 1
			path: src/Tag/DecimalFractionTag.php

		-
			message: "#^Parameter \\#1 \\$value of static method CBOR\\\\Utils\\:\\:binToInt\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Tag/TagManager.php

		-
			message: "#^Method CBOR\\\\UnsignedIntegerObject\\:\\:getValue\\(\\) should return int\\|numeric\\-string but returns int\\|string\\.$#"
			count: 1
			path: src/UnsignedIntegerObject.php
